@import './base.css';

body {
  background-color: #f0f0f0;
}
#app {
  max-width: 1280px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}


